<!doctype html>
<html lang="th">
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>

    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>

<!-- Header -->
<header class="topbar">
    <div class="logo">
    <a href="{% url 'queue_list' %}" class="home-link">
        🏥 ระบบจัดการคิวโรงพยาบาล
    </a>
  </div>



    <div class="user-info">
        <span>{{ request.user.username }}</span>
        <a href="{% url 'logout' %}" class="logout">ออกจากระบบ</a>
    </div>
</header>

<!-- Main -->
<main class="container">

    <h2>Dashboard</h2>
    <p class="subtitle">ภาพรวมระบบ (Phase 1)</p>

    <!-- Summary Cards -->
    <div class="cards">
        <div class="card">
            <h3>👥 ผู้ป่วยวันนี้</h3>
            <p class="number">0</p>
        </div>

        <div class="card">
            <h3>⏳ รอเรียกคิว</h3>
            <p class="number">0</p>
        </div>

        <div class="card">
            <h3>✅ ตรวจแล้ว</h3>
            <p class="number">0</p>
        </div>
    </div>

    <!-- Placeholder -->
    <div class="placeholder">
        🔧 พื้นที่สำหรับระบบคิว / AI Triage / รายงาน (Phase ถัดไป)
    </div>

</main>

</body>
</html>
